.main{
   
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 25%;
    margin-bottom: 25%;
}


.intestazione{
           
    /*TESTO*/
    color: white; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    display:flex;
    text-align:initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /*CARATTERISTICHE*/
    background-image: url(space.jpg);
    padding:30px;
    width: 350px;
    height: 350px;            
    border-radius: 10px;
      
}


.login{
  
   /*TESTO*/
    color: grey;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;

   
   /*CARATTERISTICHE*/
    width: 350px;
    height: 500px;

    border-color: black;
    background-color: white;
    border-radius: 10px;

    padding: 60px 30px 10px 30px;
   
}

.login input{
    border: 0px;
    outline: none;
}

.login #btn1{

    /*TESTO*/
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:white;

    /*CARATTERISTICHE*/           
    border-radius: 30px;
    border: 0px;

    background-color:darkturquoise;
    padding: 15px 33px;
    margin: 10px 100px 20px 100px;
    outline: none;
    cursor: pointer;
}

.login #btn2{
    
    /*TESTO*/
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color: grey;
    
   
    /*CARATTERISTICHE*/
    background-color:white;
    border:0px;
    padding: 40px 100px 50px 100px;   
    outline: none;
    cursor: pointer;
}