body{
    background-image: linear-gradient(to right,rgb(73, 4, 119),violet);
     margin:0; 
     padding:0; 
}

.main{  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex_elements{
    display: flex;
    flex-direction: column;
}

.intestazione{
           
    /*TESTO*/
    color: white; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align:initial;
    justify-content: center;
    align-items: center;
    
    /*CARATTERISTICHE*/
    background-image: url(space.jpg);
    padding:30px;
    width: 350px;
    height: 350px;            
    border-radius: 10px;     
}

.login{
  
    color: grey;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    height: 500px;

    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    padding: 30px;

}

.login input{
    border: 0px;
    outline: none;
}

.hr_style{
    border-width:1px; 
    margin-left:0px; 
    margin-right:0px;
}

.input_style{
    height:30px; 
    margin-top:10px;
}

.login .button-primary{
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 30px;
    border: 0px;
    outline: none;
    cursor: pointer;
}


.login #btn1{
    color:white;
    background-color:darkturquoise;
    padding: 15px 33px;
}

.login #btn2{
    color: grey;
    background-color:white;   
}

@media screen and (max-width: 850px) {
    .main {
        flex-direction: column;    
    }
  }
@media screen and (max-width: 450px){
    
    .intestazione{
        width: 260px;
        height: 260px; 
    }

    .login{
        width: 260px;
        height: 410px;
    }
    
    .intestazione p{
        display: none;
    }

}
/*A questa dimensione i bottoni non si dimensionano più in funzione del div */

@media screen and (max-width: 350px){
    
    .intestazione{
        width: 160px;
        height: 160px; 
    }

    .login{
        width: 160px;
        height: 310px;
    }

    .intestazione p{
        display: none;
    }

}